body{
    
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    padding: 0;
    margin: 0;
}


/*Navigation bar */
nav{
    margin: 0 10px;
}
ul{
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;

}

ul li a:hover{
    background-color: rgb(169, 191, 169);
    color: rgb(0, 0, 0);
}

li{
    float: left;
    margin: 0px 10px 0px 10px;
    font-size: 17px;
   
}

.boldark{
    font-weight: 400;
    color: black;
}

#navmarg0{
 margin-bottom: 0;
}

#tron-marg0{
    background-color: #ffffff;
}

/* Hero Section */
#tron-marg0{
    text-align: center; 
    height: auto;
}

#flashme{
    margin: 0 10px;
}
.content2{
    margin: 0 10px;
}

/* Steps*/
.steps-section {
    border-radius: 5px;
    margin: 5px 10px;
    background-color: #f2f2f2;
    padding: 5px 10px;
}

.steps-section h3 {
    text-align: center;
    margin-bottom: 0.7rem;
}

.steps-container {
    background-color: #f2f2f2;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 3rem;
}

/* NEW FIX */
.step {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.stepnum {
    background-color: #777;
    border-radius: 50%;
    color: white;
    display: grid;
    font-weight: 600;
    height: 3.2rem;
    place-content: center;
    width: 3.2rem;
}

.steptxt {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
}

/* Table formating */

table{
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

/* th,td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px #0000;
} */

tr td{
    text-align: left;
    padding: 3px 10px 3px 3px;
    width: auto;
}

th {
    background-color: rgb(212, 191, 191);
    text-align: left;
    padding: 3px 10px 3px 3px;
    color: black;
    width: 100%;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}


h4{
    text-align: end;
}
.uploaded-files{
    margin: 0;
}
.input-form{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
}

#outputs-container{
    margin: 0 10px;
}
.faq-section{
    margin: 0 10px;
}
summary{
    cursor: pointer;
    border: 1px silver;
    padding-bottom: 10px;
}
details{
    margin-bottom: 5px;
}
.faq-section h5{
    text-align: center;
    font-size: medium;

}

/* Footer */

footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
/* all links */
 a{
    display: inline-block;
    text-decoration: none;
    color: black;
 }

 textarea{
    resize: none;
 }